<!-- about page -->

{% extends "base.html" %}

{% block content %}
	<h1>About the author</h1>
	<p> Dear reader,</p>
	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante nibh, congue vel ipsum in, vulputate pharetra metus. Aenean rutrum ornare justo vel lobortis. Sed dignissim augue a posuere venenatis. Integer luctus accumsan ultricies. In vulputate magna nunc. Curabitur sed euismod arcu, ac finibus magna. Suspendisse blandit ipsum ac porta luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
{% endblock %}